@font-face{
    font-family:"atmos";
    src: url("../polices/a_atmospheric/aAtmospheric.ttf"),
        url("../polices/a_atmospheric/aAtmospheric.otf");
}
@font-face{
    font-family:"batman";
    src: url("../polices/batman_forever/batmfa__.ttf");
}

body{
    margin: 0;
    background-color: rgb(207,207,207);

}
#page{
    max-width: 1000px;
    height: 100%;
    margin-top:0;
    margin-left:auto;
    margin-right: auto;
   /* border: rgb(215, 231, 248) 3px groove;  */

}
header{
    margin: 0;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to bottom, rgb(184, 183, 183) 30%, rgb(207, 207, 207) 70%);
    padding-left: 20px;
    padding-right: 20px;
}
h1{
    font-family:"atmos";
    font-size: 1.5em;;
}
ul{
    display: flex;
    align-items: flex-end;
    width: 50%;
}
li{
    list-style: none;
    font-size: 22px ;
    margin-left: auto;
    margin-right: auto;

}
#hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center ;
    padding-bottom : 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: slategrey 1px groove;

}

#hero > h2 {
    margin-bottom: 0px;
    font-size : 30px;
  }
  #hero > p {
    margin-top: 10px;
    font-size: 15px;
    color: slategrey;
  }
  
#technologie{
    display: flex;
    margin: auto;
    width: 50%;
    justify-content: space-around;
}
#technologie img{
    width: 50px;
    height: 75px;
}
#content{
    display: flex;

    width: 100%;
    height: 100%;

}

#presentationBox{
    padding-left: 20px;
    padding-right: 20px; 
}
#section1{
    flex : 1;
    border-right: gray 1px groove;
    padding: 5px;
    font-size: 1.2em;

}
#section1 > img{
    width: 80px;
    height: 100px;
    float: right;
    padding-top: 15px;
    padding-right: 15px;
    
}
#section2 {
    flex : 2;
    padding: 5px;
    font-size : 1.2em;
   
}
#section2 > div {
    border-bottom:gray 1px groove;
   
}
@media all and (max-device-width:500px){
    h1{
        font-size: 2.5em;
    }
    header ul {
        position : absolute;
        display: flex;
        align-items: flex-end;
        width: auto;
        flex-direction: column ;
        right: 10px;
      
    }
    header ul li {
        padding-bottom: 20px;
        font-size : 2em;
    }
    #hero h2{
        font-size : 2.5em;
    }
    #hero > p {
        font-size : 1.5em;
    }
    #presentationBox{
        font-size:2em;

    }



    #section1{
        flex : 1;
        border-right: gray 1px groove;
        padding: 5px;
        font-size: 1.5em;
    
    }
    #section1 > img{
        width: 80px;
        height: 100px;
        float: right;
        padding-top: 15px;
        padding-right: 15px;
        
    }
    #section2 {
        flex : 2;
        padding: 5px;
        font-size : 1.5em;
       
    }
    #section2 > div {
        border-bottom:gray 1px groove;

}



